@page "/"
@using Microsoft.Extensions.Logging
@using EDH2COD.Models

<PageTitle>EDH2COD</PageTitle>

<h1>Create .Cod Files of Your Favorite EDHREC Decks!</h1>
<EditForm Model="@queryModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText id="query" @bind-Value="queryModel.Name" />

    <button type="submit">Submit</button>
</EditForm>

@code{
    private QueryModel queryModel = new();

    private void HandleValidSubmit(){
        //process the valid form here
    }
}
