@page "/"
@using EDH2COD.Pages.Components

<PageTitle>EDH2COD</PageTitle>

<h1>Welcome to EDH2COD!</h1>

<p>Please, submit an edhrec deck url to convert to a .cod file!</p>

<p>Remember, submit links to individual deck previews only!</p>

<DeckPreviewForm />