@inject NavigationManager NavManager

<form @onsubmit="@HandleValidSubmit">
    <span class="text-danger">@errorMessage</span> 
    <input @bind="searchString" type="text" pattern="(https:\/\/)?(www.)?edhrec\.com\/deckpreview\/([a-zA-Z]+(\d[a-zA-Z]+)+)" title="You should enter a edhrec url that contains a single deck list and it has 'edhrec.com/deckpreview' on its address body" required/>
    <input type="submit" value="Submit" />
</form>

@code{
    private string? searchString;
    private string? errorMessage;

    private void HandleValidSubmit()
    {
        errorMessage = "";

        if (String.IsNullOrEmpty(searchString))
        {
            errorMessage = "Please, enter a valid Url.";
            return;
        }

        int index = searchString.LastIndexOf("/") + 1;
        string deckCode = searchString.Substring(index);

        NavManager.NavigateTo($"/deckpreview/{deckCode}");
    }    
}